@model Meetings.Models.Meeting_Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting_Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Due_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Due_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person_Responsible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person_Responsible)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Item_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
